<!doctype html>
<html ng-app="htmlAnn">
	<head>
		<title>HTMLAnnotation</title>
		<meta charset="utf8">
		<!-- load assets -->
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<script type="text/javascript" src="htmlAnn.js"></script>
	</head>
	<body>
		<div id="mainContainer" class="mainContainer">
			<div class="panelContainer" ng-controller="listController">
				<div ng-repeat="(key, val) in fragments" class="pageSelectContainer" ng-click="selectFragment(key, val)">
					{{val.name}}
				</div>
			</div>
			<div class="fragmentContainer leftRightSplit" ng-controller="fragmentController">
				<div ng-click="didSelectContent()" id="dynamicCont" dynamic src="html" trg="contentChanged()" reload="reloadDynamicContainer">
				</div>
				<div ng-show="activated" class="annotationSection">
					<div class="rowItem">
						Color: 
						<select style="background-color:{{selectedColor}}" name="color" id="colorSelect">
							<option style="background-color:{{key}}" ng-repeat="(key, val) in annotationColors">{{key}}</option>
						</select>
					</div>
					<textarea id="annotationArea" unselectable="on" placeholder="Enter Annotation" class="annotationArea"></textarea>
					<button ng-click="editAnnotation()" class="annotationButton">{{annotationText}}</button>
				</div>
			</div>
		</div>
	</body>
</html>
