About 36,000 Detroit properties that are at least two years behind on their taxes have received foreclosure notices ahead of next year’s tax auction, according to the Wayne County Treasurer's Office. Last year, the office says about 39,000 properties received such notices ahead of the tax auction that took place this fall.<br><br>
            
            
          
            
              
    Though Wayne County officials do not yet now how many of the of the foreclosed properties are homes where people live, Detroit-based data mapping company Loveland Technologies says that, during the 2017 auction cycle, 32,000 properties turned out to be occupied. Some 2,000 of those homes went on to be sold to the highest bidder in the fall foreclosure auction. The majority of remaining homeowners were able to avoid the forfeiture list by making payment arrangements with the county. <br><br>
            
            
              <div class="inlineComponent " id="">
                <div id="AdNativeInline" class="SpanningFeature AdNativeInline ">
  <!-- /43707298/DET_DesktopNative -->
          <div id="div-gpt-ad-det_desktopnative-2" style="" data-content-type="ad" data-slot="/43707298/DET_DesktopNative" data-output="asynchronous" data-width="" data-height="" data-google-query-id="CPPazriuj9gCFRw5TwodNSoBww">
              <script type="text/javascript">
                  googletag.cmd.push(function() {
                  googletag.display('div-gpt-ad-det_desktopnative-2');
                  });
              </script>
          <div id="google_ads_iframe_/43707298/DET_DesktopNative_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/43707298/DET_DesktopNative_0" title="3rd party ad content" name="google_ads_iframe_/43707298/DET_DesktopNative_0" width="1" height="1" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;"></iframe></div></div>
</div>
              </div>
            
          
            
              
Residents currently facing foreclosure will have to pay their tax bills or make plans to do so by spring. About 36,000 Detroit properties are reportedly on payment plans with the treasurer for&nbsp;tax debts.<br><br>
            
            
          
            
              
As the treasurer’s office prepares for next year’s occupied home sale, some tax-foreclosed residents whose homes were sold in September and October are still anxiously awaiting eviction.<br><br>
            
            
          
            
              
    Kevin Dickerson, his wife, and their two teenage kids are among the hapless Detroit residents whose homes were sold out from under them. <a href="/news-hits/archives/2017/10/27/facing-eviction-detroit-families-get-unprecedented-chance-to-save-their-homes" target="_blank">The Dickersons</a>, having been outbid in their effort to buy back the Conant Gardens bungalow that was in Kevin’s family since about the 1950s, are now living in their home on borrowed time: The investor who bought the house for $8,500 is waiting to hear whether the family is willing to purchase it. But even at the sale price, the home is unaffordable for the Dickersons, who live off mother Arnetia’s $9-an-hour job.<br>
     <div class="content connection ">
        <h5>
          <span class="typeHeader">Related</span>
          <a href="https://www.metrotimes.com/detroit/myth-busting-the-detroit-tax-foreclosure-crisis/Content?oid=5552983">Myth-busting the Detroit tax foreclosure crisis: <span class="subHeadline">Detroit is  not for sale</span>
          </a>
        </h5>
        <a href="https://www.metrotimes.com/detroit/myth-busting-the-detroit-tax-foreclosure-crisis/Content?oid=5552983">
          
            <div class="image">
              
              <img class="image" src="https://media1.fdncms.com/metrotimes/imager/u/square/5552982/12039486_1697948547106981_8340843698291198508_n_1_.jpg" width="120" height="120" alt="" title="">
            </div>
          

          
          <div class="info">
            <div class="headline">Myth-busting the Detroit tax foreclosure crisis</div>
            
              <div class="subHeadline">Detroit is  not for sale</div>
            
            
            
              <div class="author">By Michele Oberholtzer</div>
            
            <div class="category">Views</div>
          </div>
        </a>
      </div> In a phone call this week, Kevin Dickerson explained that he and his wife are using the days until their inevitable eviction to save up for a rental in the suburbs.<br><br>
            
            
          
            
              
    “This I’ll tell you for sure — I can definitely say that when we move, we won’t be movin’ in the city no where,” Dickerson says. “Why would I stay in the city when there’s no good schools, you call the police they don’t come, you call an ambulance they take forever to come… and they charging us for taxes like we stay in the safest city in the country.<br><br>
            
            
          
            
              
    “[Foreclosure] is not something nobody should go through staying in the city until they make some better arrangements for the people that live here.”<br><br>
            
            
          
            
              
    The impetus for Kevin’s call, however, was not to brief us on his situation, but to share his discovery of an eye-opening video regarding Detroit and Wayne County’s tax foreclosure scheme.<br><br>
            
            
          
            
              
    The video, published last week by <i>Vice News Tonight</i>, clearly conveys the forces propelling the epidemic that has seen an estimated one in four Detroit properties foreclosed since 2009. It describes how the Detroit assessor's office failed to properly reassess home values in the wake of the collapse of the housing market, leading to what one study has described as the over assessment of the <a href="/detroit/could-detroits-tax-foreclosures-be-unconstitutional/Content?oid=4522278" target="_blank">majority of Detroit property tax bills between 2009-2015</a>. And it portrays a county that <a href="http://www.bridgemi.com/detroit-journalism-cooperative/sorry-we-foreclosed-your-home-thanks-fixing-our-budget" target="_blank">financially benefits</a> from the interest added to late-paid taxes. <br>
    <div class="content connection ">
        <h5>
          <span class="typeHeader">Related</span>
          <a href="https://www.metrotimes.com/detroit/could-detroits-tax-foreclosures-be-unconstitutional/Content?oid=4522278">Study finds Detroit's foreclosure crisis fueled by illegal tax assessments
          </a>
        </h5>
        <a href="https://www.metrotimes.com/detroit/could-detroits-tax-foreclosures-be-unconstitutional/Content?oid=4522278">
          
            <div class="image">
              
              <img class="image" src="https://media1.fdncms.com/metrotimes/imager/u/square/4522277/news_photo_7-12.jpg" width="120" height="120" alt="" title="">
            </div>
          

          
          <div class="info">
            <div class="headline">Study finds Detroit's foreclosure crisis fueled by illegal tax assessments</div>
            
            
            
              <div class="author">By Violet Ikonomova</div>
            
            <div class="category">Local News</div>
          </div>
        </a>
      </div>  <div class="content connection ">
        <h5>
          <span class="typeHeader">Related</span>
          <a href="https://www.metrotimes.com/detroit/as-the-system-gives-wayne-county-a-short-term-financial-boost-is-there-incentive-for-an-overhaul/Content?oid=4179545">As tax foreclosures give Wayne County a short-term financial boost, is there incentive for an overhaul?
          </a>
        </h5>
        <a href="https://www.metrotimes.com/detroit/as-the-system-gives-wayne-county-a-short-term-financial-boost-is-there-incentive-for-an-overhaul/Content?oid=4179545">
          
            <div class="image">
              
              <img class="image" src="https://media2.fdncms.com/metrotimes/imager/u/square/4179140/shutterstock_272014148.jpg" width="120" height="120" alt="" title="">
            </div>
          

          
          <div class="info">
            <div class="headline">As tax foreclosures give Wayne County a short-term financial boost, is there incentive for an overhaul?</div>
            
            
            
              <div class="author">By Violet Ikonomova</div>
            
            <div class="category">Local News</div>
          </div>
        </a>
      </div><i>Vice</i>&nbsp;also showed the investors benefiting from the county treasurer's practice of selling occupied homes — one father-son team apparently spends millions grabbing to grab up dozens of occupied houses in the city each year.<br>
     <iframe width="580" height="326" src="https://video.vice.com/en_us/embed/5a2988e8177dd467224930a5" frameborder="0" scrolling="no" allowfullscreen=""></iframe> “The way you make money … say I buy the house you’re in for $500, I’m now the new owner and I’m offering you a deal to stay there,” Stevie Hagerman, an investor with Brick Home Management, told <i>Vice News Tonight</i>. “We sign a 12-month lease, you pay me $500 the first of the month, in one day we’ve gotten our money back and after that, it’s profit.”<br><br>
            
            
          
            
              
    Caught in the middle, of course, are the often low-income folks whose homes are taken. <i>Vice News Tonight </i>reported that Hagerman bought the home of a social worker named Judy Kelley, and offered to let her continue to live in it for a fee. <br><br>
            
            
          
            
              
    But Kelley, much like Dickerson, isn’t sure about sticking around Detroit after the ordeal.<br><br>
            
            
          
            
              
    "Do you think you'll ever have a chance to own property in Detroit again?" reporter Antonia Hylton asked Kelley.<br><br>
            
            
          
            
              
    "The question should be, would I want to,” said Kelley. “I'm not sure." <div class="content connection ">
        <h5>
          <span class="typeHeader">Related</span>
          <a href="https://www.metrotimes.com/news-hits/archives/2017/10/27/facing-eviction-detroit-families-get-unprecedented-chance-to-save-their-homes">Facing eviction, Detroit families get unprecedented chance to save their homes: <span class="subHeadline">A last-ditch effort is underway to help tax-foreclosed homeowners avoid displacement — but will it work?</span>
          </a>
        </h5>
        <a href="https://www.metrotimes.com/news-hits/archives/2017/10/27/facing-eviction-detroit-families-get-unprecedented-chance-to-save-their-homes">
          
            <div class="image">
              
              <img class="image" src="https://media2.fdncms.com/metrotimes/imager/u/square/6623142/screen_shot_2017-10-27_at_2.25.18_am.png" width="120" height="120" alt="" title="">
            </div>
          

          
          <div class="info">
            <div class="headline">Facing eviction, Detroit families get unprecedented chance to save their homes</div>
            
              <div class="subHeadline">A last-ditch effort is underway to help tax-foreclosed homeowners avoid displacement — but will it work?</div>
            
            
            
              <div class="author">By Violet Ikonomova</div>
            
            <div class="category">News Hits</div>
          </div>
        </a>
      </div>  <div class="content connection ">
        <h5>
          <span class="typeHeader">Related</span>
          <a href="https://www.metrotimes.com/detroit/wayne-county-treasurer-rejects-two-last-minute-plans-to-help-detroit-families-avoid-foreclosure/Content?oid=6745961">Wayne County treasurer rejects two last-minute plans to help Detroit families avoid foreclosure
          </a>
        </h5>
        <a href="https://www.metrotimes.com/detroit/wayne-county-treasurer-rejects-two-last-minute-plans-to-help-detroit-families-avoid-foreclosure/Content?oid=6745961">
          
            <div class="image">
              
              <img class="image" src="https://media2.fdncms.com/metrotimes/imager/u/square/6775660/screen_shot_2017-10-31_at_9.45.45_am.png" width="120" height="120" alt="" title="">
            </div>
          

          
          <div class="info">
            <div class="headline">Wayne County treasurer rejects two last-minute plans to help Detroit families avoid foreclosure</div>
            
            
            
              <div class="author">By Violet Ikonomova</div>
            
            <div class="category">Local News</div>
          </div>
        </a>
      </div><br><br><br>
      
      
      <div class="clearfix"></div>
      
      
      
    </div>

    
    
    
      
    

    

    
      
      <p class="tags">
        Tags: <a href="https://www.metrotimes.com/detroit/ArticleArchives?tag=Detroit" rel="tag">Detroit</a>, <a href="https://www.metrotimes.com/detroit/ArticleArchives?tag=tax%20foreclosure" rel="tag">tax foreclosure</a>, <a href="https://www.metrotimes.com/detroit/ArticleArchives?tag=2018%20foreclosure%20cycle" rel="tag">2018 foreclosure cycle</a>, <a href="https://www.metrotimes.com/detroit/ArticleArchives?tag=unpaid%20taxes" rel="tag">unpaid taxes</a>, <a href="https://www.metrotimes.com/detroit/ArticleArchives?tag=late-paid%20taxes" rel="tag">late-paid taxes</a>, <a href="https://www.metrotimes.com/detroit/ArticleArchives?tag=overassessed%20taxes" rel="tag">overassessed taxes</a>, <a href="https://www.metrotimes.com/detroit/ArticleArchives?tag=displacement" rel="tag">displacement</a>, <a href="https://www.metrotimes.com/detroit/ArticleArchives?contentFeature=2124603" rel="tag">Image</a>
      </p>
    

    

  </div> <!-- end blogPost -->
    
    <div class="clear"></div>
  </div>
